table,
tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

tbody.tbody--normal {
  flex-direction: column;
}

tbody.tbody--reverse {
  flex-direction: column-reverse;
}

th {
  user-select: none;
}

th .caret {
  cursor: pointer;
  margin-left: 6px;
}

th .caret.caret--flipped {
  transform: rotate(180deg);
}

td.sortable {
  background: #f8f8f8;
}

tr {
  display: flex;
}

tr td:nth-child(1) {
  width: 5%;
}
tr td:nth-child(2) {
  width: 45%;
}
tr td:nth-child(3) {
  width: 10%;
}
tr td:nth-child(4) {
  width: 20%;
}
tr td:nth-child(5) {
  width: 10%;
}
tr td:nth-child(6) {
  width: 10%;
}

tr.rated--1 {
  order: 10;
}
tr.rated--2 {
  order: 9;
}
tr.rated--3 {
  order: 8;
}
tr.rated--4 {
  order: 7;
}
tr.rated--5 {
  order: 6;
}
tr.rated--6 {
  order: 5;
}
tr.rated--7 {
  order: 4;
}
tr.rated--8 {
  order: 3;
}
tr.rated--9 {
  order: 2;
}
tr.rated--10 {
  order: 1;
}
