/* Sorting */

table,
tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

tbody.tbody--normal-rating, 
tbody.tbody--normal-hours {
  flex-direction: column;
}

tbody.tbody--reverse-rating,
tbody.tbody--reverse-hours {
  flex-direction: column-reverse;
}

th {
  user-select: none;
}

th .caret {
  cursor: pointer;
  margin-left: 6px;
}

th .caret.caret--flipped {
  transform: rotate(180deg);
}

td.sortable {
  background: rgba(0, 0, 0, 0.1) !important;
}

tr {
  display: flex;
}

tr td:nth-child(1), tr th:nth-child(1) {
  width: 5%;
}

tr td:nth-child(2), tr th:nth-child(2) {
  width: 35%;
}

tr td:nth-child(3), tr th:nth-child(3) {
  width: 10%;
}

tr td:nth-child(4), tr th:nth-child(4) {
  width: 15%;
}

tr td:nth-child(5), tr th:nth-child(5) {
  width: 10%;
}

tr td:nth-child(6), tr th:nth-child(6) {
  flex: 1;
  width: 10%;
}

tr td:nth-child(7), tr th:nth-child(7) {
  width: 15%;
}

/* Rating */

tbody.tbody--normal-rating tr.rated--1,
tbody.tbody--reverse-rating tr.rated--1 {
  order: 10;
}

tbody.tbody--normal-rating tr.rated--2,
tbody.tbody--reverse-rating tr.rated--2 {
  order: 9;
}

tbody.tbody--normal-rating tr.rated--3,
tbody.tbody--reverse-rating tr.rated--3 {
  order: 8;
}

tbody.tbody--normal-rating tr.rated--4,
tbody.tbody--reverse-rating tr.rated--4 {
  order: 7;
}

tbody.tbody--normal-rating tr.rated--5,
tbody.tbody--reverse-rating tr.rated--5 {
  order: 6;
}

tbody.tbody--normal-rating tr.rated--6,
tbody.tbody--reverse-rating tr.rated--6 {
  order: 5;
}

tbody.tbody--normal-rating tr.rated--7,
tbody.tbody--reverse-rating tr.rated--7 {
  order: 4;
}

tbody.tbody--normal-rating tr.rated--8,
tbody.tbody--reverse-rating tr.rated--8 {
  order: 3;
}

tbody.tbody--normal-rating tr.rated--9,
tbody.tbody--reverse-rating tr.rated--9 {
  order: 2;
}

tbody.tbody--normal-rating tr.rated--10,
tbody.tbody--reverse-rating tr.rated--10 {
  order: 1;
}

/* Hours */

tbody.tbody--normal-hours tr.hours--1,
tbody.tbody--reverse-hours tr.hours--1 {
  order: 12;
}

tbody.tbody--normal-hours tr.hours--2,
tbody.tbody--reverse-hours tr.hours--2 {
  order: 11;
}

tbody.tbody--normal-hours tr.hours--3,
tbody.tbody--reverse-hours tr.hours--3 {
  order: 10;
}

tbody.tbody--normal-hours tr.hours--4,
tbody.tbody--reverse-hours tr.hours--4 {
  order: 9;
}

tbody.tbody--normal-hours tr.hours--5,
tbody.tbody--reverse-hours tr.hours--5 {
  order: 8;
}

tbody.tbody--normal-hours tr.hours--6,
tbody.tbody--reverse-hours tr.hours--6 {
  order: 7;
}

tbody.tbody--normal-hours tr.hours--7,
tbody.tbody--reverse-hours tr.hours--7 {
  order: 6;
}

tbody.tbody--normal-hours tr.hours--8,
tbody.tbody--reverse-hours tr.hours--8 {
  order: 5;
}

tbody.tbody--normal-hours tr.hours--9,
tbody.tbody--reverse-hours tr.hours--9 {
  order: 4;
}

tbody.tbody--normal-hours tr.hours--10,
tbody.tbody--reverse-hours tr.hours--10 {
  order: 3;
}

tbody.tbody--normal-hours tr.hours--11,
tbody.tbody--reverse-hours tr.hours--11 {
  order: 2;
}

tbody.tbody--normal-hours tr.hours--12,
tbody.tbody--reverse-hours tr.hours--12 {
  order: 1;
}

/* Black design */

body {
  background: #222d32;
}

.panel {
  border: 1px solid #555;
  box-shadow: none;
  color: #ccc;
  background-color: #263238;
}

.panel-default>.panel-heading {
  background-color: #263835;
  color: #ccc;
  border-color: #555;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #555;
}

.table>thead>tr>th {
  border-bottom: 1px solid #555;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  border-top: 1px solid #555;
}

.table-hover>tbody>tr:hover {
  background-color: rgba(0,0,0, 0.1) !important;
}

.navbar-default {
  background-color: #222d32;
  border-color: #263835;
}

.spoiler {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.spoiler:hover {
  background: rgba(0, 0, 0, 0.1);
}

.spoiler.changed .caret {
  transform: rotate(180deg);
}

.spoiler .caret {
  margin-left: 5px;
}
